<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/angel.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!! -->
<div id="wrapper">

    <!-- Titulo en el sidebar -->
    <div id="sidebar-wrapper">

        <%include Partials/SideBar_Comision.ejs%>

    </div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      PAGE CONTENT               !!!!!!!!!!!!!!!!!!!!11 -->



    <div id="page-content-wrapper" class="main-background-light" >
        <div class="container-fluid full-height " >

            <!--==========TITULO Y ALERTAS====================-->
            <div class="row">
                <div class="col-lg-12">

                    <h1>Getionar Cargos por Carreras</h1>

                </div>
            </div>


            <!--==========PANEL====================-->
            <!-----------------------   LA ESTRUCTURA DE ESTA PAGINA ES                                            ----------------------------------->

            <!-----------------------  |- FORM                                                                     ----------------------------------->
            <!-----------------------  |  |-- panel (1 por carrera )                                               ----------------------------------->

            <!-----------------------  |  |     |--- lista de cargos para esa carrera                              ----------------------------------->
            <!-----------------------  |  |     |--- Boton para agregar nuevo cargo a esa carrera (abre el modal)  ----------------------------------->

            <!-----------------------  |  |-- modal (1 por carrera )                                               ----------------------------------->

            <!-----------------------  |        |--- TAB cargos existentes                                         ----------------------------------->
            <!-----------------------  |        |    ---- FORM                                                     ----------------------------------->
            <!-----------------------  |        |--- TAB cargos nuevos                                             ----------------------------------->
            <!-----------------------  |             ---- FORM                                                     ----------------------------------->

            <!-----------------------  |- SUBMIT BUTTON                                                            ----------------------------------->

            <div class="row">
                <div class="col-lg-12">
                    <form action="/gestionar_cargos" method="post">

                        <!-- LOOP QUE CREARA CADA UNA DE LAS TARJETAS POR CADA CARRERA -->
                        <!-- POR CADA CARRERA CREARA UN TARJETON Y UN MODAL PARA AGREGAR NUEVOS CARGOS A ESA CARRERA-->
                        <% carreras.forEach( function( carrera ) {%>
                                <div class="panel panel-default custom-panel">

                                    <div class="panel-heading">
                                       <p>Cargos en la Carrera: <%= carrera.Nombre %></p>
                                    </div>

                                    <div class="panel-body">

                                           <!-- DENTRO DEL LOOP DE CADA CARRERA, SE CREARA UN TARJETON CON TODOS LOS CARGOS DE ESA CARRERA-->
                                           <!-- ESTE LOOP CIRCULA POR TODOS LOS CARGOS DE ESA CARRERA Y AÑADE SU RESPECTIVO CHECK, PARA PODER SER ELIMINADO ESE CARGO -->
                                            <% cargosxcarrera.forEach( function( cargo ) {%>
                                                <% if (carrera.IDCarrera == cargo.IDCarrera){%>
                                                    <div class="row">
                                                        <div class="col-xs-11">
                                                            <%=cargo.NombreCargo%>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" name="cargos_seleccionados[]" value="<%= ' ( Carrera_IDCarrera = ' + cargo.IDCarrera+' AND Cargo_IDCargo = '+cargo.IDCargo+ " ) " %>">
                                                        </div>
                                                    </div>
                                              <% } %>
                                            <%});%>

                                            <button class="btn btn-link center-block"  data-toggle="modal" data-target="#myModal<%=carrera.IDCarrera%>" type="button">+ añadir nuevo cargo...</button>




                                        </div>
                                    </div>

                        <%});%>


                        <div class="center-block button-group">
                            <button type="submit" name="updateCargos" value="Eliminar" class="btn btn-primary horizontal-button" style="width: 200px">
                                Eliminar Cargos Seleccionados
                            </button>
                            <button type="submit" name="updateCargos" value="Guardar" class="btn btn-primary horizontal-button" style="width: 200px">
                                Volver
                            </button>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <% carreras.forEach( function( carrera ) {%>
    <!------------------ POR CADA CARRERA SE AGREGARA UN MODAL QUE PERMITIRA AGREGAR NUEVOS CARGOS A ESA CARRERA  -------------------------->
    <div id="myModal<%=carrera.IDCarrera%>" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Cargo a <%=carrera.Nombre%></h4>
                </div>

                <div class="modal-body">
                    <!-- DENTRO DEL MODAL HABRA DOS PESTAÑAS (TABS) UNA PARA AGREGAR UN CARGO EXISTENTE Y UNA PARA CREAR UNO NUEVO -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#existente<%=carrera.IDCarrera%>">Añadir Cargo Existente</a></li>
                        <li><a data-toggle="tab" href="#nuevo<%=carrera.IDCarrera%>">Añadir Cargo Nuevo</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-----------------------------------CARGO EXISTENTE------------------------------------------->
                        <div id="existente<%=carrera.IDCarrera%>" class="tab-pane fade in active">

                            <form action="/gestionar_cargos" method="post">

                                <div class="form-group modal-label">
                                    <label for="carrera<%=carrera.IDCarrera%>">Seleccionar Cargo a Agregar:</label>
                                    <select class="form-control" id="carrera<%=carrera.IDCarrera%>" name="CargosExistentes">

                                        <% cargos.forEach( function( cargo ) { %>


                                        <option><%=cargo.IDCargo + " - " + cargo.NombreCargo%></option>


                                       <% });%>

                                    </select>
                                </div>

                                <input class= 'hidden' name="CarreraDeCargo" value="<%= carrera.IDCarrera %>"> <!-- input oculto, que se usara para postear la carrera  -->

                                <button type="submit" name="updateCargos" value="AgregarExistente" class="btn btn-primary center-block">Agregar Carrera</button>

                            </form>

                        </div>
                        <!-----------------------------------CARGO NUEVO------------------------------------------->
                        <div id="nuevo<%=carrera.IDCarrera%>" class="tab-pane fade">
                            <form action="/gestionar_cargos" method="post">

                                <div class="form-group modal-label  ">
                                    <label for="respuesta">Nombre del Cargo a Crear:</label>
                                    <input type="text" class="form-control" id="NuevoCargo" name="NombreNuevoCargo">
                                </div>

                                <div class="form-group">
                                    <label for="respuesta">Descripción del Cargo a Crear:</label>
                                    <input type="text" class="form-control" id="NuevoCargo" name="DescNuevoCargo">
                                </div>

                                <input class= 'hidden' name="Carrera_Cargo" value="<%= carrera.IDCarrera %>"> <!-- input oculto, que se usara para postear la carrera  -->

                                <button type="submit" name="updateCargos" value="AgregarNuevo" class="btn btn-primary center-block" style="width: 200px">Crear y Agregar Cargo</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!------------------------------------ END OF MODAL --------------------------------->
    <%});%>


</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>