<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/angel.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">


    <link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!1!!!!!!!!!!!! -->
<div id="wrapper">

    <!-- Titulo en el sidebar -->
    <div id="sidebar-wrapper">

        <% include Partials/SideBar_Comision.ejs %>

    </div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      PAGE CONTENT               !!!!!!!!!!!!!!!!!!!!11 -->

    <div id="page-content-wrapper" class="main-background-light" style="height: auto;">
        <div class="container-fluid full-height " >

            <!--==========TITULO Y ALERTAS====================-->
            <div class="row">
                <div class="col-lg-12">

                    <h1>Gestión de Período Electoral</h1>

                    <div class="alert custom-tip-alert">
                        <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                        <p class="inline">TIP!</p>
                        <p>Este módulo te permite visualizar todos los períodos electorales hasta la fecha. Ademas, puedes definir las fechas para el próximo período electoral, y eliminarlo de ser necesario.</p>

                    </div>
                    <div class="alert custom-warning-alert">
                        <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                        <p class="inline">ADVERTENCIA!</p>
                        <p>No puedes editar ni eliminar un período ya culminado, tampoco eliminar un período en curso.</p>

                    </div>
                    <div class="alert custom-warning-alert">
                        <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                        <p class="inline">ADVERTENCIA!</p>
                        <p>Al crear un período electoral, el proceso de postulación iniciará al llegar la fecha de inicio definida como fecha de inicio del período de postulación</p>

                    </div>
                    <!--Dinamico-->
                    <!--Se mostrara un aviso dependiedno si ya hay un siguiente periodo creado, un periodo en curso o si no hay ninguno -->
                    <!--ES IMPORTANTE NOTAR QUE LA LISTA DE RESULTADOS DE PERIODOS ESTA ORDENADA DE FORM QUE SIEMPRE EL [0] SEA UN PERIODO INICIADO, EN POSTULACION O EN VOTACION.-->
                    <!-- EN CASO DE QUE NO HAYA NINGUN PERIODO EN I,V o P, EL PRIMERO TENDRA ESTADO DE TERMINADO ( 'X' ) -->

                    <% if (periodos[0].Estado == 'I'){ %>
                        <div class="alert custom-neutral-alert">
                            <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                            <p class="inline">RECORDATORIO!</p>
                            <p>Ya se han definido las fechas para el siguiente período electoral:  <%=periodos[0].IDPE%></p>
                        </div>
                    <%} else if (periodos[0].Estado != 'X'){ %>
                            <div class="alert custom-neutral-alert">
                                <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                                <p class="inline">RECORDATORIO!</p>
                                <p>Ya hay un período en curso:  <%=periodos[0].IDPE%></p>
                            </div>
                    <%} else {%>
                            <div class="alert custom-neutral-alert">
                                <span class="glyphicon glyphicon-exclamation-sign inline"></span>
                                <p class="inline">RECORDATORIO!</p>
                                <p>Aun no se han definido las fechas para el siguiente período electoral. Por favor, cree un nuevo período. </p>
                            </div>
                    <%}%>
                </div>
            </div>

            <!--==========FORMULARIO====================-->
            <div class="row">
                <div class="col-lg-12">

                    <form class="center-block" id="periodo-form" style="width: 75%" action="/gestionar_periodos" method="post">
                        <div class="form-group">
                            <label for="periodo">Período Electoral</label>
                            <div>

                            <select class="form-control input-with-button" id="periodo" name="idperiodo">
                                <!--Lista los periodos existentes en la BD-->
                                <% periodos.forEach( function( Element ){ %>
                                     <option value="<%=Element.IDPE%>"><%=Element.IDPE%></option>
                                <% });%>

                            </select>

                                <!--Este boton se desactiva si ya hay un periodo creado, o en curso. por lo que no se permite crear un nuevo periodo -->
                               <button type="button" class="btn btn-primary inline" name="postbutton" value="nuevo" id="NewButton" <% if (periodos[0].Estado != 'X' ){%>  title="No puedes agregar un nuevo período si ya hay un período activo." disabled="" <%}%> >
                                    Nuevo Período
                                </button>


                            </div>

                        </div>


                        <div class="form-group">
                            <label for="nombre">Nombre del Período Electoral</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="20XX-20XX" value="<%=periodos[0].IDPE +" ("+NombreEstado+")"%>" disabled>
                        </div>


                        <div class="form-group ">
                            <label for="FI">Fecha de Inicio del Período Electoral</label>
                            <input type="text" class="form-control datepicker" id="FI" name="FI" value="<%=periodos[0].FechaInicio%>">
                        </div>


                        <div class="form-group">
                            <label for="FIP">Fecha de Inicio del Período de Postulación</label>
                            <input type="text" class="form-control datepicker" id="FIP" name="FIP"  value="<%=periodos[0].FechaIP%>">
                        </div>

                        <div class="form-group">
                            <label for="FFP">Fecha de Culminación del Período de Postulación</label>
                            <input type="text" class="form-control datepicker" id="FFP"  name="FFP"  value="<%=periodos[0].FechaFP%>">
                        </div>
                        <div class="form-group">
                            <label for="FIV">Fecha de Inicio del Período de Votación</label>
                            <input type="text" class="form-control datepicker" id="FIV"  name="FIV"  value="<%=periodos[0].FechaIV%>">
                        </div>

                        <div class="form-group">
                            <label for="FFV">Fecha de Culminación del Período de Votación</label>
                            <input type="text" class="form-control datepicker" id="FFV"  name="FFV" value="<%=periodos[0].FechaFV%>">
                        </div>

                        <div class="form-group">
                            <label for="FF">Fecha de Culminación del Período Electoral</label>
                            <input type="text" class="form-control datepicker" id="FF" name="FF" value="<%=periodos[0].FechaFin%>">
                        </div>

                        <div class="center-block button-group">
                            <button type="submit" name="submit_type" value="guardar" class="btn btn-primary horizontal-button" id="guardar">
                                Guardar Cambios
                            </button>

                            <button type="button" name="submit_type" value="eliminar" class="btn btn-primary horizontal-button" id="eliminar" data-toggle="modal" data-target="#myModal" >
                                Eliminar Período
                            </button>


                       </div>


                    </form>

                </div>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!--=============MODAL DE CONFIRMACION DE ELIMINACION==================================-->

<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Eliminar Periódo</h4>
            </div>

            <div class="modal-body">
                ADVERTENCIA: Si elmina este período, se borrará toda la información relacionada con el, incluyendo cargos asignados a las carreras!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger btn-ok" id="eliminar-modal">Borrar</a>
            </div>

        </div>

    </div>
</div>



<script>

//<!--=============FUNCION PARA ELIMINAR A TRAVES DEL BOTON DEL MODAL==================================-->

    $("#eliminar-modal").on( 'click' , function(){
        /* when the submit button in the modal is clicked, submit the form */
        $("#eliminar").prop('type','submit');
        $("#eliminar").click();
    });

//<!--=============COMPORTAMIENTO DEL BOTON DE "CREARNUEVO CARGO"==================================-->

    $('#NewButton').on("click", function(){

        $("#nombre").val( "" );
        $("#periodo").val( "nuevo..." );
        $(".datepicker").datepicker('clearDates');

        $("#periodo-form input").prop("disabled", false);
        $("#guardar").prop("disabled", false);
        $("#eliminar").prop("disabled", false);

    });
//<!--=============VALIDACIONES DE FECHAS==================================-->

     $("#guardar").on('click', function(e) {

            var FI  = $("#FI").datepicker('getDate');
            var FF  = $("#FF").datepicker('getDate');
            var FIP = $("#FIP").datepicker('getDate');
            var FFP = $("#FFP").datepicker('getDate');
            var FIV = $("#FIV").datepicker('getDate');
            var FFV = $("#FFV").datepicker('getDate');


            if( (FI < FIP) && (FIP < FFP) && (FFP < FIV) && (FIV < FFV) && (FFV < FF) ) {
                //fechas ok.
            }
            else{
                e.preventDefault(); //prevent the default action
                alert("Hay un error en las fechas, por favor verifique los campos resaltados");
            }

     });

     $(".datepicker").blur(function() {

         var input_list = $("input");
         var this_index = input_list.index($(this));
         var i;
         var map = {};

         input_list.each(function () {
             map[input_list.index($(this))] = $(this).datepicker('getDate');
         });

         var valid = true;

         for (i = this_index; i < input_list.length; i++) {
             if (map[this_index] > map[i])
                 valid = false;
         }

        if ( valid == false) {
            $(this).css({'border-color' : '#ff6666', 'background-color': '#ffe6e6'});
        }
        else{
            $(this).css({'border-color' : '#bfbfbf' , 'background-color': 'white' });
        }

     });


//<!--=============COMPORTAMIENTO DEL SELECT DE PERIODOS==================================-->

    $("#periodo").on("change", function(){
        var selected = $(this).val();
        makeAjaxRequest(selected);
    });

//<!--=============Ajax RQUEST PARA TRAER LOS DATOS DEPENDIENDO DEL SELECT==================================-->
    function makeAjaxRequest(opts){U
        $.ajax({
            type: "POST",
            data: { periodo: opts },
            url: "/gestionar_periodos",
            success: function(res) {

                var NombreEstado;

                switch ( res.Estado ){
                    case 'I': NombreEstado = 'Vigente'; break;
                    case 'P': NombreEstado = 'Postulaciones en Proceso'; break;
                    case 'V': NombreEstado = 'Votaciones en Proceso'; break;
                    default : NombreEstado = 'Culminado';
                }

                $("#nombre").val(res.IDPE + " (" + NombreEstado +")");
                $("#FI").datepicker('update', res.FechaInicio);
                $("#FF").datepicker('update', res.FechaFin);
                $("#FIP").datepicker('update', res.FechaIP);
                $("#FFP").datepicker('update', res.FechaFP);
                $("#FIV").datepicker('update', res.FechaIV);
                $("#FFV").datepicker('update', res.FechaFV);

                if(res.Estado == 'X'){
                    $("#periodo-form input").prop("disabled", true);
                    $("#guardar").prop("disabled", true);
                    $("#eliminar").prop("disabled", true);
                }
                else if ( res.Estado == 'I') {
                    $("#periodo-form input").prop("disabled", false);
                    $("#guardar").prop("disabled", false);
                    $("#eliminar").prop("disabled", false);
                }
                else{
                    $("#periodo-form input").prop("disabled", false);
                    $("#guardar").prop("disabled", false);
                    $("#eliminar").prop("disabled", true);
                }

                $("#nombre").prop("disabled",true);
            }
        });
    }


</script>


<script>
    //Inicia los datepickers en los inputs.
    $(function(){
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "es"
        });
    });
</script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
</body>
</html>