<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UCABEgresados</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/angel.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      SIDE BAR                !!!!!!!!!!!!!!!!!!!!11 -->

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      PAGE CONTENT                !!!!!!!!!!!!!!!!!!!!11 -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="main-background-light" >
        <div class="container-fluid full-height"  >

            <div class="row">
            <h1>Registro en el Sistema</h1>
            <div class="alert custom-tip-alert"> Paso #2 - Validación</div>
            </div>

            <div class="row  vertical-center-parent" style="height:75% !important;">
                <form class="vertical-center-child form-with-lots-of-text" method="post" name="registro2" action="/egresado-registro3">

                    <h3>Se encontraron los siguientes datos correspondientes a esa cédula</h3>
                    <!--dinamico-->
                    <p class="sangria"> <strong>Nombre: <%= datosE[0].nombre %> </strong> </p>
                    <p class="sangria"> <strong>Correo UCAB: <%= datosE[0].Correoucab %></strong></p>

                    <h3 style="margin-top: 50px;">Necesitamos verificar su identidad, por favor responda la siguiente pregunta</h3>
                    <br> <br> 
                    <div class="form-inline"  >
                        <!--dinamico-->
                        <label for="respuesta">¿En que año se graduó?</label>
            <input style="width:500px" type="text" class="form-control" id="respuesta" name="respuesta" placeholder="Introduzca  solo el año YYYY" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </div>

                    <br> <br>



<input type="hidden" name="CI" value="<%= datosE[0].CIEgresado %> ">
<input type="hidden" name="nombre" value="<%= datosE[0].nombre %> ">
<input type="hidden" name="AñoEgresado" value="<%=datosE[0].AnoEgreso%> ">

                    <button  style="width:300px; height:50px" type="submit" class="btn btn-primary center-block" onclick="Confirm()">
                        Validar
                    </button>

                </form>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->




    <script type="text/javascript">
        function Confirm() {
            var respu = document.registro2.respuesta.value;
        
        if (respu=="" ) {
        alert("Debe Introducir Un  Año Valido");
        }
        }
        </script>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>